[auto_speed]
[include my_macros.cfg]
#[include adxl345.cfg]
#[include OrbiterSensor.cfg]

# This file contains pin mappings for the Creality "v4.2.7" board. To
# use this config, during "make menuconfig" select the STM32F103 with
# a "28KiB bootloader" and serial (on USART1 PA10/PA9) communication.

# If you prefer a direct serial connection, in "make menuconfig"
# select "Enable extra low-level configuration options" and select
# serial (on USART3 PB11/PB10), which is broken out on the 10 pin IDC
# cable used for the LCD module as follows:
# 3: Tx, 4: Rx, 9: GND, 10: VCC

# Flash this firmware by copying "out/klipper.bin" to a SD card and
# turning on the printer with the card inserted. The firmware
# filename must end in ".bin" and must not match the last filename
# that was flashed.

# See docs/Config_Reference.md for a description of parameters.


# [autotune_tmc stepper_x]
# motor: moons-c17hd2024n-01n
# [autotune_tmc stepper_y]
# motor: moons-c17hd2024n-01n

# [autotune_tmc stepper_z]
# motor: moons-c17hd2024n-01n

[mcu orbitoolO2S]
serial: /dev/serial/by-id/usb-Klipper_stm32f072xb_Orbitool_O2S-if00
restart_method: command


## STM32 MCU temp
[temperature_sensor toolboard]
sensor_type: temperature_mcu
sensor_mcu: orbitoolO2S


[mcu]
serial: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0
restart_method: command

[mcu rpi]
serial: /tmp/klipper_host_mcu

[autotune_tmc extruder]
motor: moons-c17hd2024n-01n
tuning_goal: performance


[stepper_x]
step_pin: PB9
dir_pin: PC2
enable_pin: !PC3
microsteps: 16
rotation_distance: 39.73
endstop_pin: ^PA5
position_endstop: 0
position_max: 252
position_min: -10
homing_speed: 50


# [tmc2209 stepper_x]
# uart_pin: PC11
# run_current: 0.8
# hold_current: 0.4
# stealthchop_threshold: 999999
# diag_pin: null

[adc_temperature HOT_P]
temperature:120
voltage1:1.91
temperature:240
voltage2:3.82


[temperature_sensor Hotend_power]
sensor_pin: orbitoolO@S: PA0
sensor_type: HOT_P


[stepper_y]
step_pin: PB7
dir_pin: PB8
enable_pin: !PC3
microsteps: 16
rotation_distance: 40
endstop_pin: ^PA6
position_endstop: 0
position_max: 233
position_min: -10
homing_speed: 50


[stepper_z]
step_pin: PB5
dir_pin: !PB6
enable_pin: !PC3
#rotation_distance: 7.87
rotation_distance: 40
gear_ratio: 80:16
microsteps: 16
full_steps_per_rotation: 200    #200 for 1.8 degree, 400 for 0.9 degree
endstop_pin: ^PA7 #probe:z_virtual_endstop
position_endstop: 0.0
position_max: 250
position_min: -10.0



[extruder]
step_pin: orbitoolO2S:PB3
dir_pin: !orbitoolO2S:PB4
enable_pin: !orbitoolO2S:PC14
max_extrude_only_distance: 500
full_steps_per_rotation: 200
max_extrude_only_velocity: 120
pressure_advance: 0.03
pressure_advance_smooth_time: 0.03
microsteps: 16
rotation_distance: 4.637
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: orbitoolO2S:PB9
pullup_resistor: 2200
sensor_type: PT1000
sensor_pin: orbitoolO2S:PA1
#control: pid
#pid_Kp: 21.527
#pid_Ki: 1.063
#pid_Kd: 108.982
min_temp: 0
max_temp: 300
max_extrude_cross_section: 60
min_extrude_temp: 180
smooth_time: 0.5
max_power: 0.995 # limit heater power to 99.5% to enable autorecovery from short detection



[tmc2240 extruder] 
uart_pin: orbitoolO2S:PC13
interpolate: false
run_current: 0.85 # Orbiter v2.5
rref: 12000
stealthchop_threshold: 0
#driver_TBL: 0
#driver_TOFF: 3
#driver_HEND: 8
#driver_HSTRT: 7

# [tmc2209 extruder]
# uart_pin: PA14
# run_current: 0.85
# hold_current: 0.100
# stealthchop_threshold: 0
# sense_resistor: 0.11 #**
# interpolate: True
# diag_pin: null

[heater_bed]
heater_pin: PA2
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC4
control: pid
pid_Kp: 65.713
pid_Ki: 1.605
pid_Kd: 672.734
min_temp: 0
max_temp: 130


[fan]
pin: !orbitoolO2S:PA10
enable_pin: orbitoolO2S:PB14
off_below: 0.2
shutdown_speed: 0.0
cycle_time: 0.0001
kick_start_time: 0.2
hardware_pwm: false

[heater_fan hotend_Fan]
pin: !orbitoolO2S:PB15
heater: extruder
cycle_time: 0.0001 
heater_temp: 65.0
fan_speed: 1.0
max_power: 1.0
hardware_pwm: false
shutdown_speed: 0.0
off_below: 0.3






[printer]
kinematics: cartesian
max_velocity: 600
max_accel: 5000
max_z_velocity: 5
max_z_accel: 100

[board_pins]
aliases:
    EXP1_1=PC6,EXP1_3=PB10,EXP1_5=PB14,EXP1_7=PB12,EXP1_9=<GND>,
    EXP1_2=PB2,EXP1_4=PB11,EXP1_6=PB13,EXP1_8=PB15,EXP1_10=<5V>,
    PROBE_IN=PB0,PROBE_OUT=PB1,FIL_RUNOUT=PA4
    
    
[include fluidd.cfg]


# [bltouch]
# sensor_pin: ^PB1
# control_pin: PB0
# x_offset: -42
# y_offset: -3
# probe_with_touch_mode: True
# pin_up_reports_not_triggered: True
# pin_up_touch_mode_reports_triggered: False
# samples: 2
# sample_retract_dist: 2
# samples_result: median
# stow_on_each_sample: False
# lift_speed: 10
# speed: 10


##############################################################
################## Accelerometer Sensor ######################
##############################################################

[adxl345 Tool0]
cs_pin: orbitoolO2S:PA4
spi_bus: spi1
axes_map: y, z, x # Assumes back-faceing vertical toolboard mounting
spi_speed: 5000000


##############################################################
###################### Bed scanner ###########################
##############################################################
#configuration for I2C bed scanner based on LDC1612 

#[probe_eddy_current orbiscan]
#sensor_type: ldc1612
#i2c_mcu: orbitoolO2S
#i2c_bus: i2c1
#i2c_speed:100000



[bed_mesh]
speed: 180
algorithm: bicubic
horizontal_move_z: 5
mesh_min: 10, 10    #!!min and max co-ords are based on the probes location not the nozzle!!
mesh_max: 205, 221  #needs to be calibrated for your individual printer
probe_count: 10,10    #this is the number of probing points on X then Y axis
mesh_pps: 2,2
fade_start: 1
fade_end: 10
fade_target: 0


[safe_z_home]
home_xy_position: 117, 117
#   A X, Y coordinate (e.g. 100, 100) where the Z homing should be
#   performed. This parameter must be provided.
speed: 50.0
#   Speed at which the toolhead is moved to the safe Z home
#   coordinate. The default is 50 mm/s
z_hop: 15
#   Distance (in mm) to lift the Z axis prior to homing. This is
#   applied to any homing command, even if it doesn't home the Z axis.
#   If the Z axis is already homed and the current Z position is less
#   than z_hop, then this will lift the head to a height of z_hop. If
#   the Z axis is not already homed the head is lifted by z_hop.
#   The default is to not implement Z hop.
z_hop_speed: 55.0
#   Speed (in mm/s) at which the Z axis is lifted prior to homing. The
#   default is 15 mm/s.
#move_to_previous: False
#   When set to True, the X and Y axes are reset to their previous
#   positions after Z axis homing. The default is False.
 
    
[bed_screws]
screw1: 23.50, 39.50
screw2: 193.50, 39.50
screw3: 203.50, 205
screw4: 23.50, 203.50

# [axis_twist_compensation]
# speed: 50
#   The speed (in mm/s) of non-probing moves during the calibration.
#   The default is 50.
# horizontal_move_z: 5
#   The height (in mm) that the head should be commanded to move to
#   just prior to starting a probe operation. The default is 5.
# calibrate_start_x: 10
#   Defines the minimum X coordinate of the calibration
#   This should be the X coordinate that positions the nozzle at the starting
#   calibration position.
# calibrate_end_x: 200
#   Defines the maximum X coordinate of the calibration
#   This should be the X coordinate that positions the nozzle at the ending
#   calibration position.
# calibrate_y: 112.5
#   Defines the Y coordinate of the calibration
#   This should be the Y coordinate that positions the nozzle during the
#   calibration process. This parameter is recommended to
#   be near the center of the bed

# For Y-axis twist compensation, specify the following parameters:
#calibrate_start_y: ...
#   Defines the minimum Y coordinate of the calibration
#   This should be the Y coordinate that positions the nozzle at the starting
#   calibration position for the Y axis. This parameter must be provided if
#   compensating for Y axis twist.
#calibrate_end_y: ...
#   Defines the maximum Y coordinate of the calibration
#   This should be the Y coordinate that positions the nozzle at the ending
#   calibration position for the Y axis. This parameter must be provided if
#   compensating for Y axis twist.
#calibrate_x: ...
#   Defines the X coordinate of the calibration for Y axis twist compensation
#   This should be the X coordinate that positions the nozzle during the
#   calibration process for Y axis twist compensation. This parameter must be
#   provided and is recommended to be near the center of the bed.


[screws_tilt_adjust]
screw1: 73.50, 39.50
screw1_name: front left screw
screw2: 245, 39.50
screw2_name: front right screw
screw3: 245, 211.50 
screw3_name: rear right screw 
screw4: 73.50, 211.50
screw4_name: rear left screw
horizontal_move_z: 10
speed: 80
screw_thread: CW-M4 #measure the diameter of your adjustment screw
    
    
[exclude_object]
       
[firmware_retraction]
retract_length: 1
#   The length of filament (in mm) to retract when G10 is activated,
#   and to unretract when G11 is activated (but see
#   unretract_extra_length below). The default is 0 mm.
retract_speed: 120
#   The speed of retraction, in mm/s. The default is 20 mm/s.
unretract_extra_length: 0
#   The length (in mm) of *additional* filament to add when
#   unretracting.
unretract_speed: 25
#   The speed of unretraction, in mm/s. The default is 10 mm/s.

    
[include KAMP_Settings.cfg]

#[include moonraker_obico_macros.cfg]


[gcode_arcs]
resolution: 0.1
#   An arc will be split into segments. Each segment's length will
#   equal the resolution in mm set above. Lower values will produce a
#   finer arc, but also more work for your machine. Arcs smaller than
#   the configured value will become straight lines. The default is
#   1mm.

[temperature_sensor raspberry_pi]
sensor_type: temperature_host
min_temp: 10
max_temp: 100

[temperature_sensor mcu_temp]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100


# [input_shaper]
# shaper_freq_x: 93.8
# shaper_type_x: ei 
# shaper_freq_y: 37.2
# shaper_type_y: mzv

[include shell_command.cfg]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 27.874
#*# pid_ki = 7.743
#*# pid_kd = 25.087
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.006782, -0.005536, 0.003209, 0.070705
#*# 	0.028218, 0.010714, 0.000709, 0.045705
#*# 	0.000718, 0.026964, 0.011959, 0.014455
#*# x_count = 4
#*# y_count = 3
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 93.207
#*# max_x = 140.547
#*# min_y = 107.13
#*# max_y = 138.43
